

/* Make image responsive */
img {
    max-width: 100%; /* Ensure image scales down on smaller screens */
}

/* Media query for small screens */
@media (max-width: 600px) {
    .header {
        font-size: 18px; /* Adjust font size for small screens */
    }

    .form-border {
        height: 60vw; /* Adjust height for small screens */
        width: 80vw; /* Adjust width for small screens */
    }

    .input {
        margin-bottom: 20px; /* Adjust margin for small screens */
    }

    .button {
        margin-top: 10px; /* Adjust margin for small screens */
    }
}
